/* Reset margin and padding for the entire document */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height */
  width: 100%; /* Ensure full width */
  overflow: hidden; /* Optional: Prevents scrolling if SVG overflows */
  display: flex;
}

/* Styles for the SVG */
#svgContainer {
  display: block; /* Removes any space below the SVG */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  flex-grow: 1;
  overflow: auto; /* Enables scrolling */
}
#controller {
  padding: 4px;
  width: 150px;
  height: 100%;
  background-color: #f0f0f0; /* Example background color */
  border-left: 1px solid #999;
}

#controller {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#controller button {
  margin: 2px;
  /* border-radius: 5px; */
  background: "#ff";
}
